In [17]:
import pandas as pd

In [19]:
sales_url = "https://api.iea.org/evs?parameters=EVsales&category=Historical&mode=Cars&csv=true"
sales_df = pd.read_csv(sales_url)

sales_df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [4]:
sales_df.describe()

              year         value
count  3798.000000  3.798000e+03
mean   2017.369932  1.009542e+05
std       3.809226  8.184402e+05
min    2010.000000  1.500000e-05
25%    2014.000000  2.300000e+00
50%    2018.000000  1.900000e+02
75%    2021.000000  6.800000e+03
max    2023.000000  2.800000e+07

In [21]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      3798 non-null   object
 1   category    3798 non-null   object
 2   parameter   3798 non-null   object
 3   mode        3798 non-null   object
 4   powertrain  3798 non-null   object
 5   year        3798 non-null   int64
 6   unit        3798 non-null   object
 7   value       3798 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 237.5+ KB

In [7]:
for col in sales_df.columns:
    print(col)
    print(sales_df[col].unique())
    print("")

region
['Australia' 'Austria' 'Belgium' 'Brazil' 'Bulgaria' 'Canada' 'Chile'
 'China' 'Colombia' 'Costa Rica' 'Croatia' 'Cyprus' 'Czech Republic'
 'Denmark' 'Estonia' 'EU27' 'Europe' 'Finland' 'France' 'Germany' 'Greece'
 'Hungary' 'Iceland' 'India' 'Ireland' 'Israel' 'Italy' 'Japan' 'Korea'
 'Latvia' 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand'
 'Norway' 'Poland' 'Portugal' 'Rest of the world' 'Romania' 'Seychelles'
 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Sweden' 'Switzerland'
 'Turkiye' 'United Arab Emirates' 'United Kingdom' 'USA' 'World']

category
['Historical']

parameter
['EV sales' 'EV stock share' 'EV sales share' 'EV stock'
 'Electricity demand' 'Oil displacement Mbd'
 'Oil displacement, million lge']

mode
['Cars']

powertrain
['BEV' 'EV' 'PHEV' 'FCEV']

year
[2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2010]

unit
['Vehicles' 'percent' 'GWh' 'Milion barrels per day'
 'Oil displacement, million lge']

value
[4.90000000e+01 3.90000001e-04 6.50000013e-03 2.20000000e+02
 8.00000000e+01 2.99999993e-02 2.40000011e-03 1.70000000e+02
 1.90000000e+02 4.60000010e-03 3.40000018e-02 1.00000000e+02
 1.80000000e+02 4.10000000e+02 7.80000000e+02 1.10000000e+03
 9.50000000e+02 1.59999996e-01 1.40000004e-02 3.70000000e+02
 7.60000000e+02 2.70000007e-02 2.00000003e-01 1.00000000e+03
 2.10000000e+03 1.50000000e+03 2.20000000e+03 2.80000000e+03
 7.00000000e+02 1.50000006e-01 3.70000005e-02 6.70000000e+02
 1.20000000e+03 5.20000011e-02 2.59999990e-01 3.90000000e+03
 3.40000000e+03 5.20000000e+03 5.70000000e+03 1.80000000e+03
 4.19999987e-01 7.69999996e-02 1.40000001e-01 1.20000005e+00
 2.90000000e+03 8.60000000e+03 1.20000000e+04 6.30000000e+03
 1.70000000e+04 1.00000000e+04 1.70000000e+03 1.10000002e+00
 1.80000007e-01 3.19999993e-01 2.79999995e+00 4.40000000e+01
 1.40000000e+04 3.40000000e+04 3.30000000e+04 6.70000000e+04
 2.10000000e+04 1.50000000e+01 5.90000000e+03 5.09999990e+00
 5.89999974e-01 1.20000000e+01 1.10000000e+04 6.00000000e+00
 3.10000000e+04 1.50000000e+05 8.70000000e+04 6.50000000e+01
 3.50000000e+02 7.89999962e-03 2.19999999e-02 9.90000000e+02
 1.40000000e+03 3.29999998e-02 1.40000000e+02 5.29999994e-02
 6.50000000e+02 8.90000015e-02 5.69999993e-01 3.00000000e+00
 4.00000000e+00 8.99999976e-01 5.00000000e+03 3.80000000e+03
 9.10000000e+03 2.39999995e-01 1.50000000e+00 2.30000000e+03
 1.30000000e+01 1.90000000e+01 2.00000000e+00 3.79999995e-01
 1.50000000e+04 5.40000000e+03 6.80000000e+03 5.29999971e-01
 2.59999990e+00 7.00000000e+00 2.40000000e+01 4.10000000e+01
 8.00000000e+03 3.50000000e+00 7.50000000e-01 3.00000000e+04
 9.30000000e+03 1.60000000e+04 4.50000000e+04 9.50000000e+00
 1.40000000e+01 7.60000000e+03 4.50000000e+01 5.50000000e+01
 2.90000000e+04 2.00000000e+01 2.09999990e+00 7.70000000e+04
 1.10000000e+05 2.20000000e+01 4.20000000e+04 1.30000000e+04
 6.20000000e+01 8.90000000e+01 6.10000000e+04 9.00000000e+00
 2.60000000e+01 4.40000010e+00 1.60000000e+05 4.80000000e+04
 9.99999978e-03 1.30000000e-03 1.00000000e+00 8.00000000e+00
 4.80000000e+01 6.10000000e+01 3.20000000e+02 2.80000000e+02
 1.60000000e+01 1.89999998e-01 3.40000000e+02 5.70000000e+02
 8.30000000e+02 5.00000000e+02 5.90000000e+02 6.00000000e+01
 1.19999997e-01 4.09999996e-01 6.70000017e-02 1.30000000e+03
 3.30000000e+03 2.50000000e+03 1.29999995e-01 7.69999981e-01
 1.70000005e+00 2.80000001e-01 7.10000000e+03 7.50000000e+03
 1.10000000e+01 2.70000000e+03 2.30000000e+04 3.10000000e+01
 2.40000010e+00 7.40000010e-01 9.60000000e+03 3.60000000e+03
 1.90000000e+04 8.80000000e+03 4.10000000e+04 8.90000000e+03
 3.20000005e+00 1.79999995e+00 6.40000000e+01 3.20000000e+04
 7.30000000e+04 5.20000000e+04 2.10000000e+01 1.20000000e+05
 8.50000000e+01 2.90000010e+00 1.80000000e+01 4.59999990e+00
 5.90000000e+04 1.80000000e+05 3.80000000e+04 9.00000000e+04
 1.90000000e+05 9.30000000e+04 2.80000000e+05 1.00000000e+05
 9.90000000e+01 8.19999981e+00 3.49999988e-04 1.00000000e+01
 2.80000007e-04 3.30000000e+01 3.90000000e+01 2.19999999e-03
 1.59999996e-04 1.20000000e+02 2.80000000e+01 4.19999985e-03
 3.80000012e-04 7.50000000e+01 7.99999980e-04 1.09999999e-02
 1.30000000e+02 4.70000000e+01 2.50000000e+02 2.90000000e+02
 2.30000000e-02 1.70000002e-03 3.60000000e+02 2.49999994e-03
 1.99999996e-02 2.30000000e+02 8.90000000e+02 5.40000000e+02
 8.60000029e-02 7.00000022e-03 1.30000003e-02 8.00000000e+02
 1.60000000e+03 4.40000000e+03 4.60000001e-02 2.60000000e+04
 8.50000000e+03 2.09999993e-01 9.00000036e-02 5.00000007e-02
 5.00000000e+00 6.80000000e+01 3.80000000e+01 3.40000004e-01
 6.39999986e-01 5.60000000e+01 6.70000017e-01 4.30000000e+02
 2.20000005e+00 5.80000019e+00 3.00000000e+02 4.10000011e-02
 2.89999996e-03 6.20000000e+02 2.40000000e+03 3.10000000e+03
 2.19999999e-01 3.49999994e-01 5.30000000e+03 9.90000000e+03
 7.70000000e+03 4.49999988e-01 8.39999989e-02 7.59999990e-01
 6.40000000e+03 2.50000000e+04 2.20000000e+04 8.70000000e+03
 9.60000000e+01 7.60000000e+04 7.90000000e+01 6.00000000e+04
 3.40000010e+00 8.29999983e-01 4.19999981e+00 8.20000000e+04
 3.70000000e+04 1.30000000e+05 2.80000000e+04 6.40000010e+00
 9.10000000e+04 2.40000000e+04 3.80000000e+05 1.70000000e+05
 2.29999995e+00 2.20000002e-04 2.00000009e-03 1.90000003e-03
 5.09999983e-04 1.00000005e-03 7.10000005e-03 3.70000000e+01
 3.20000000e+01 2.30000000e+01 1.70000009e-02 2.09999993e-03
 5.40000000e+01 4.60000000e+01 6.10000007e-02 7.00000003e-02
 2.10000000e+02 1.60000000e+02 4.40000000e+02 5.50000000e+02
 1.10000000e+02 2.70000000e+02 8.20000000e+02 3.50000001e-02
 6.80000037e-02 5.00000000e-01 8.80000000e+02 5.10000000e+02
 3.10000002e-01 8.69999975e-02 2.90000007e-05 3.10000009e-03
 9.20000020e-03 1.10000001e-04 6.69999981e+00 6.60000000e+02
 4.80000000e+03 2.60000000e+02 9.20000000e+02 2.69999990e-04
 1.89999994e-02 7.29999989e-02 9.49999988e-02 3.09999995e-02
 5.49999997e-04 4.70000000e+02 7.30000000e+02 4.90000000e+04
 8.10000000e+01 4.00000006e-01 4.10000002e-03 2.40000000e+02
 2.10000000e+05 7.90000000e+04 2.60000000e+05 4.60000000e+05
 8.20000004e-03 4.90000000e+02 3.89999986e-01 6.60000026e-01
 1.49999997e-02 9.30000000e+05 4.70000000e+05 2.70000000e+05
 8.20000000e+05 1.70000000e+06 5.40000000e+05 6.20000000e+03
 4.69999981e+00 4.30000015e-02 2.60000000e+03 8.40000000e+03
 7.70000000e+05 2.60000000e+06 8.30000000e+05 2.30000000e+05
 2.20000000e+05 9.20000000e+05 3.50000000e+06 9.90000000e+05
 5.09999990e-02 3.00000000e+03 5.69999981e+00 1.89999998e+00
 3.09999990e+00 1.80000000e+04 9.79999974e-02 5.80000000e+03
 1.60000000e+06 6.20000000e+06 2.70000000e+06 5.50000000e+05
 1.50000000e+06 4.40000000e+06 1.10000000e+07 3.10000000e+06
 2.90000000e+01 7.59999990e+00 5.80000000e+06 1.60000000e+07
 5.40000000e+06 5.20000000e+02 2.50000000e+01 9.20000000e+01
 4.50000000e+02 5.50000012e-01 8.70000000e+02 4.80000000e+02
 8.40000000e+02 1.90000000e+03 3.90000010e+00 9.60000046e-03
 2.50000004e-02 5.99999987e-02 3.80000000e+02 2.00000000e+02
 4.60000000e+02 2.70000005e+00 6.30000000e+02 4.10000000e+03
 5.50000000e+00 4.90000000e+03 9.00000000e+03 6.70000000e+01
 5.30000000e+02 3.79999995e+00 4.00000000e+02 1.39999998e+00
 8.30000000e+01 4.20000000e+01 8.40000000e+01 9.80000000e+01
 5.40000010e+00 7.90000000e+02 8.80000019e+00 7.99999982e-02
 3.90000000e+02 4.90000010e-01 2.50000000e+00 2.00000000e+03
 3.70000000e+03 6.70000000e+03 3.70000000e-03 5.90000000e+01
 4.20000000e+02 2.50000000e-01 2.89999992e-01 5.60000017e-02
 9.00000000e+01 7.90000000e+03 4.30000000e+03 8.50000024e-01
 7.10000000e+02 6.00000024e-01 8.80000000e+01 5.50000000e+03
 9.59999979e-01 1.50000000e+02 7.80000000e+01 7.80000000e+04
 4.00000000e+04 5.19999981e+00 3.50000000e+01 7.80000019e+00
 2.00000000e+05 6.30000000e+04 3.40000000e+01 4.60000008e-01
 3.60000014e-01 1.70000000e+01 5.60000000e+02 9.10000000e+01
 4.00000000e+01 6.09999988e-03 6.49999976e-02 5.80000000e+01
 8.70000000e+01 4.69999999e-01 4.40000000e+04 7.50000000e+04
 5.70000000e+04 5.60000002e-01 6.30000010e-02 7.00000000e+04
 3.10000000e+02 5.40000000e+04 6.50000000e+04 9.80000019e-01
 1.70000002e-01 1.29999995e+00 2.90000000e+05 8.90000000e+04
 7.50000000e+02 2.50000000e+05 8.50000000e+04 1.40000000e+05
 3.70000000e+05 3.90000000e+05 5.00000000e+05 6.10000000e+05
 1.10000000e+06 5.10000000e+05 9.30000007e-01 1.90000000e+06
 8.80000000e+05 8.60000000e+02 2.00000000e+06 8.90000000e+05
 1.20000000e+06 3.00000000e+06 4.00000000e+03 9.00000000e+05
 3.59999990e+00 8.50000000e+05 4.70000000e+03 7.70000000e+02
 4.60000000e+06 6.30000000e+01 9.80000000e+03 2.70000000e+01
 9.99999975e-05 5.90000010e+00 3.89999989e-03 1.20000001e-02
 7.40000010e-02 3.19999992e-04 2.00000000e+04 9.70000000e+03
 9.20000000e+03 6.90000015e-04 1.79999992e-02 3.99999991e-02
 1.39999995e-03 6.80000000e+04 3.60000000e+04 6.20000000e+04
 2.70000007e-03 4.90000006e-03 3.00000000e+05 4.30000000e+05
 4.50000000e+05 6.30000000e+05 6.20000000e+05 3.29999995e+00
 6.10000014e-01 6.10000000e+02 9.70000000e+05 8.00000000e+05
 4.60000000e+03 1.40000000e+06 6.40000000e+05 7.60000000e+05
 7.40000000e+02 3.20000015e-02 6.19999990e-02 9.60000000e+02
 2.90000000e+06 2.50000000e+06 7.80000000e+03 3.40000000e+06
 1.00000001e-01 6.00000000e+03 6.70000000e+06 2.20000000e+06
 4.50000000e+06 3.00000000e+01 8.60000029e-03 5.10000000e+01
 5.00000000e+01 9.70000000e+02 5.79999983e-02 6.90000010e+00
 4.20000000e+03 4.60000000e+04 8.40000000e+04 8.10000038e+00
 8.20000000e+01 9.29999980e-04 9.30000003e-03 3.30000013e-01
 2.80000009e-02 8.50000000e+02 6.89999998e-01 9.70000029e-02
 4.40000000e+05 4.09999990e+00 5.90000000e+05 9.80000000e+05
 3.10000000e+05 5.79999993e-04 4.39999998e-03 5.70000000e+01
 8.60000000e+01 1.09999999e-01 2.30000004e-01 7.40000000e+03
 7.30000019e-01 1.60000002e+00 5.00000000e+04 8.30000000e+04
 3.60000000e+05 3.30000000e+05 8.60000000e+05 1.00000000e+06
 5.20000000e+05 6.70000009e-05 5.10000018e-03 5.49999997e-02
 9.50000016e-04 9.70000000e+01 7.80000016e-02 4.99999989e-03
 2.89999992e-02 8.29999968e-02 6.80000000e+02 7.00000000e+03
 7.90000010e+00 5.19999981e-01 9.10000026e-01 8.60000038e+00
 6.69999979e-03 5.20000000e+01 6.00000000e+02 6.30000019e+00
 5.60000000e+03 3.50000000e+03 6.50000000e+00 7.00000000e+01
 9.30000019e+00 5.10000000e+03 6.90000000e+03 6.90000000e+01
 7.10000000e+01 2.09999997e-02 2.20000002e-05 4.50000007e-05
 7.19999988e-03 4.99999987e-05 1.60000008e-02 3.79999988e-02
 6.50000002e-05 3.70000005e+00 7.40000032e-05 8.39999993e-05
 4.80000019e+00 2.60000005e-02 6.59999990e+00 2.40000002e-02
 1.19999997e-04 1.50000007e-04 8.50000000e+00 4.30000000e+01
 5.40000014e-02 7.20000000e+01 7.20000000e+04 2.60000001e-03
 7.20000029e-01 3.30000000e+02 7.40000010e+00 4.30000015e-03
 2.70000011e-01 4.80000004e-02 3.70000005e-01 5.79999983e-01
 2.70000000e+04 3.19999992e-03 5.79999993e-03 9.39999986e-03
 5.09999990e-01 6.50000000e+03 5.50000000e+04 4.30000019e+00
 7.10000000e+04 9.19999981e+00 6.60000000e+04 2.40000000e+05
 6.89999983e-02 5.40000021e-01 8.80000000e+04 9.40000000e+03
 8.60000014e-01 6.60000000e+03 8.39999974e-01 3.99999990e-04
 5.40000014e-03 9.10000037e-03 4.89999987e-02 9.30000022e-02
 3.59999985e-02 6.40000030e-02 5.80000000e+02 9.49999988e-01
 9.00000000e+02 9.10000000e+02 4.20000000e+05 6.90000000e+04
 7.30000000e+01 7.50000000e+00 2.60000001e-04 1.49999996e-05
 4.40000003e-04 7.69999996e-03 8.90000025e-04 4.79999988e-04
 6.69999979e-04 3.80000006e-03 8.00000038e-03 1.09999999e-03
 8.89999978e-03 9.30000000e+02 5.90000004e-02 6.10000000e+03
 8.89999986e-01 3.59999994e-03 7.90000036e-02 3.90000000e+04
 9.90000000e+04 9.70000000e+04 6.19999981e+00 9.50000000e+04
 9.20000000e+04 9.80000000e+04 8.30000019e+00 6.30000001e-03
 9.89999995e-03 9.89999971e-04 3.00000012e-01 7.79999971e-01
 8.89999962e+00 3.40000000e+05 9.30000000e+01 6.90000000e+05
 4.80000023e-03 6.40000000e+02 4.69999984e-02 8.30000000e+03
 4.50000000e+03 7.20000000e+03 4.70000000e+04 7.20000000e+02
 8.79999995e-02 6.20000005e-01 8.70000005e-01 5.59999990e+00
 6.09999988e-05 1.90000006e-04 2.89999996e-04 5.60000015e-04
 4.29999985e-04 9.80000000e+02 8.80000007e-04 1.20000006e-03
 8.99999985e-04 4.00000019e-03 6.00000005e-03 3.50000011e-03
 7.30000000e+03 5.90000022e-03 8.20000023e-02 8.99999961e-03
 3.20000000e+03 7.40000000e+01 6.29999995e-01 6.09999990e+00
 7.49999983e-03 5.20000001e-04 7.20000011e-04 3.40000005e-03
 6.60000000e+01 8.10000000e+02 4.39999998e-02 7.60000000e+01
 3.39999999e-04 7.59999976e-02 4.49999981e-03 7.10000023e-02
 8.79999995e-01 4.30000000e+04 4.90000010e+00 8.60000000e+04
 9.60000000e+04 9.39999998e-01 9.20000020e-05 5.60000000e+04
 8.69999981e+00 4.30000007e-01 3.60000000e+01 5.30000000e+04
 6.59999996e-03 7.70000000e+01 9.40000000e+01 5.29999984e-03
 7.19999969e-02 3.50000000e+04 4.00000000e+05 6.00000000e+05
 9.39999962e+00 6.39999984e-04 1.50000001e-03 7.09999979e-01
 8.50000046e-03 6.99999988e-01 9.90000010e-01 9.40000000e+04
 4.80000000e+05 4.79999989e-01 8.20000000e+03 3.90000008e-02
 5.70000000e+05 6.40000000e+04 7.20000000e+05 9.10000000e+05
 2.10000000e+06 1.30000000e+06 2.30000005e-03 9.50000000e+03
 5.80000000e+04 7.40000000e-03 4.10000000e+05 7.30000000e+05
 6.80000007e-01 8.10000000e+05 4.39999998e-01 3.30000000e+06
 6.60000000e+05 2.40000000e+06 5.80000000e+05 4.80000000e+06
 6.80000000e+06 5.30000000e+06 4.70000000e+06 7.30000000e+06
 1.80000000e+07 8.00000000e+06 1.20000000e+07 4.30000000e+06
 2.80000000e+07 9.50000000e+06]

In [23]:
    charging_url = "https://api.iea.org/evs?parameters=EVchargingpoints&category=Historical&mode=EV&csv=true"
    charging_df = pd.read_csv(charging_url)

In [24]:
charging_df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV charging points,EV,Publicly available fast,2017,charging points,40.0
1,Australia,Historical,EV charging points,EV,Publicly available slow,2017,charging points,440.0
2,Australia,Historical,EV charging points,EV,Publicly available fast,2018,charging points,61.0
3,Australia,Historical,EV charging points,EV,Publicly available slow,2018,charging points,670.0
4,Australia,Historical,EV charging points,EV,Publicly available slow,2019,charging points,1700.0

In [25]:
charging_df.describe()

              year         value
count   750.000000  7.500000e+02
mean   2017.924000  3.827495e+04
std       3.483064  1.741407e+05
min    2010.000000  1.000000e-01
25%    2015.000000  1.400000e+02
50%    2018.000000  1.400000e+03
75%    2021.000000  8.900000e+03
max    2023.000000  2.500000e+06

In [27]:
charging_df.info()
for col in charging_df.columns:
    print(col)
    print(charging_df[col].unique())
    print("")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      750 non-null    object
 1   category    750 non-null    object
 2   parameter   750 non-null    object
 3   mode        750 non-null    object
 4   powertrain  750 non-null    object
 5   year        750 non-null    int64
 6   unit        750 non-null    object
 7   value       750 non-null    float64
dtypes: float64(1), int64(1), object(6)
memory usage: 47.0+ KB
region
['Australia' 'Austria' 'Belgium' 'Brazil' 'Canada' 'Chile' 'China'
 'Denmark' 'EU27' 'Europe' 'Finland' 'France' 'Germany' 'Greece' 'Iceland'
 'India' 'Indonesia' 'Israel' 'Italy' 'Japan' 'Korea' 'Mexico'
 'Netherlands' 'New Zealand' 'Norway' 'Poland' 'Portugal' 'South Africa'
 'Spain' 'Sweden' 'Switzerland' 'Thailand' 'Turkiye' 'United Kingdom'
 'USA' 'World']

category
['Historical']

parameter
['EV charging points']

mode
['EV']

powertrain
['Publicly available fast' 'Publicly available slow']

year
[2017 2018 2019 2020 2021 2022 2023 2011 2012 2013 2014 2015 2016 2010]

unit
['charging points']

value
[4.00000000e+01 4.40000000e+02 6.10000000e+01 6.70000000e+02
 1.70000000e+03 2.30000000e+03 3.20000000e+02 2.00000000e+03
 4.70000000e+02 2.10000000e+03 6.60000000e+02 1.00000001e-01
 1.60000000e+03 8.90000000e+03 2.60000000e+03 1.30000000e+04
 2.50000000e+03 1.50000000e+04 4.70000000e+01 3.30000000e+02
 5.50000000e+01 5.60000000e+02 7.70000000e+01 1.30000000e+03
 1.10000000e+02 1.50000000e+03 2.20000000e+02 2.40000000e+02
 2.70000000e+03 3.60000000e+02 6.10000000e+03 4.80000000e+02
 8.00000000e+03 7.90000000e+02 1.20000000e+04 1.10000000e+03
 2.30000000e+04 4.20000000e+04 4.90000010e+00 2.60000000e+01
 4.00000000e+02 8.00000000e+02 3.00000000e+03 3.80000000e+03
 2.00000000e+00 7.20000000e+02 7.00000000e+00 1.20000000e+03
 6.30000000e+01 3.40000000e+03 1.40000000e+02 3.90000000e+03
 5.20000000e+03 8.40000000e+02 7.10000000e+03 9.80000000e+02
 1.10000000e+04 3.10000000e+03 1.70000000e+04 4.80000000e+03
 2.20000000e+04 1.00000000e+00 4.00000000e+00 6.00000000e+00
 5.00000000e+00 8.00000000e+00 1.30000000e+01 2.20000000e+01
 3.50000000e+01 4.20000000e+01 1.30000000e+02 9.90000000e+01
 1.20000000e+02 7.40000000e+02 9.00000000e+03 2.10000000e+04
 4.70000000e+04 5.50000000e+04 8.60000000e+04 8.30000000e+04
 1.30000000e+05 1.10000000e+05 1.60000000e+05 2.10000000e+05
 3.00000000e+05 3.10000000e+05 5.00000000e+05 4.70000000e+05
 6.80000000e+05 7.60000000e+05 1.00000000e+06 1.20000000e+06
 1.50000000e+06 3.00000000e+00 9.00000000e+02 5.60000000e+01
 9.90000000e+02 2.70000000e+02 3.10000000e+02 4.20000000e+03
 3.70000000e+02 3.90000000e+02 4.30000000e+03 4.50000000e+02
 4.50000000e+03 5.40000000e+03 7.00000000e+03 8.30000000e+03
 1.40000000e+04 7.30000000e+03 6.09999990e+00 5.90000000e+01
 6.90000000e+02 7.20000000e+04 8.10000000e+04 5.60000000e+03
 8.60000000e+03 9.80000000e+04 1.40000000e+05 1.90000000e+04
 1.80000000e+05 2.60000000e+05 2.90000000e+04 4.90000000e+04
 3.80000000e+05 5.10000000e+05 8.20000000e+04 3.20000000e+03
 2.40000000e+01 1.60000000e+02 1.60000000e+04 2.50000000e+04
 7.80000000e+02 1.40000000e+03 3.70000000e+04 5.90000000e+04
 5.70000000e+03 9.40000000e+04 9.30000000e+03 1.70000000e+05
 2.00000000e+04 3.00000000e+04 2.20000000e+05 4.30000000e+04
 6.80000000e+04 4.40000000e+05 5.90000000e+05 1.70000000e+01
 2.50000000e+02 7.10000000e+02 3.40000000e+02 1.80000000e+03
 4.10000000e+02 7.70000000e+02 5.80000000e+03 7.70000000e+03
 2.80000000e+03 9.00000000e+00 1.00000000e+02 5.80000000e+02
 9.90000000e+03 1.00000000e+03 2.80000000e+04 3.30000000e+03
 3.10000000e+04 5.00000000e+04 9.70000000e+03 7.40000000e+04
 1.80000000e+01 2.40000000e+03 4.60000000e+03 6.30000000e+02
 9.40000000e+03 2.60000000e+04 6.20000000e+03 7.10000000e+04
 8.70000000e+04 1.00000000e+01 1.40000000e+01 1.50000000e+01
 3.10000000e+01 1.90000000e+02 1.10000000e+01 3.60000000e+01
 3.20000000e+01 1.50000000e+02 2.90000000e+02 1.80000000e+02
 8.50000000e+02 2.50000000e+01 9.10000000e+02 4.10000000e+03
 6.80000000e+03 5.10000000e+01 5.00000000e+01 5.40000000e+01
 7.00000000e+01 1.70000000e+02 5.70000000e+02 2.90000000e+03
 8.60000000e+02 2.20000000e+03 6.50000000e+03 8.10000000e+03
 4.00000000e+04 6.00000000e+03 7.90000000e+03 8.40000000e+03
 9.60000000e+03 9.20000000e+02 1.00000000e+04 7.40000000e+03
 9.80000000e+03 9.20000000e+04 8.30000000e+01 7.00000000e+02
 7.60000000e+01 2.10000000e+01 1.80000000e+04 3.20000000e+04
 3.30000000e+04 8.20000000e+02 3.60000000e+04 4.60000000e+04
 6.30000000e+04 1.20000000e+05 2.00000000e+02 8.90000000e+01
 2.60000000e+02 4.30000000e+02 2.80000000e+02 5.80000000e+01
 3.70000000e+03 9.60000000e+01 5.00000000e+02 4.00000000e+03
 5.30000000e+03 6.70000000e+03 9.10000000e+03 4.90000000e+02
 5.30000000e+02 6.80000000e+02 4.40000000e+03 4.10000000e+01
 6.50000000e+02 3.70000000e+01 8.70000000e+01 8.10000000e+01
 9.10000000e+01 2.30000000e+02 6.00000000e+02 6.20000000e+02
 6.60000000e+03 5.50000000e+03 7.80000000e+03 2.70000000e+01
 3.50000000e+02 3.50000000e+03 1.90000000e+03 8.20000000e+03
 8.80000000e+01 6.90000000e+01 7.50000000e+02 3.00000000e+01
 5.20000000e+02 7.20000000e+03 6.90000000e+03 3.50000000e+04
 6.40000000e+04 1.00000000e+05 8.30000000e+02 4.10000000e+04
 8.90000000e+04 1.50000000e+05 2.40000000e+05 3.90000000e+05
 6.00000000e+05 8.70000000e+05 5.60000000e+05 9.00000000e+05
 1.80000000e+06 2.50000000e+06 1.40000000e+06]

In [28]:
def load_sales_data():
    sales_url = "https://api.iea.org/evs?parameters=EVsales&category=Historical&mode=Cars&csv=true"
    ev_sales_df = pd.read_csv(sales_url)
    return ev_sales_df

def load_charging_points_data():
    charging_url = "https://api.iea.org/evs?parameters=EV charging points&category=Historical&mode=EV&csv=true"
    ev_charging_points_df = pd.read_csv(charging_url)
    return ev_charging_points_df

def load_data():
    ev_sales_df = load_sales_data()
    ev_charging_points_df = load_charging_points_data()
    return ev_sales_df, ev_charging_points_df